@import "fonts.scss";
.button{
box-sizing: border-box;
width: 225px;
height: 60px;
background-color: #5474fd;
color: #fff;
font-family: $Aleo;
font-weight: 300;
text-align: center;
padding: 23px 15px 15px 15px;
margin: 50px 0;
}
.button:hover{
width: 225px;
height: 60px;
color:#000;
background-color: #2e408d;
}
.button:active{
color:#000;
background-color: #fd6d54;
cursor: pointer;
}