.section8 {
height: 268px;
background-color: #232323;
background-size: cover;
.conteiner {
  display: flex;
    justify-content: space-between;
    align-items: center;
  .content {

		&_section8 {
		}
}
.title {

		&_section8 {
		}
}
.subtitle {

		&_section8 {
		}
}
.social {

		&_links {
		}
}
}



}

